<ion-view view-title="Person">
  <ion-content>

    
    <div class="card">
      <div class="item item-text-wrap">
        From the URL: {{person_id}}
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        From the data source... 
        <br />
        ID: {{person.$id}}
        <br />
        Name: {{person.name}}
        <br />
        Number: {{person.number}}
        <br />
        <br />
        <img src="{{person.image_url}}" alt="" />
      </div>
    </div>

    

    

    



  </ion-content>
</ion-view>
